* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(85, 84, 84);
}
body {
  padding-top: 150px;
  padding-bottom: 40px;
}
p {
  padding-bottom: 15px;
}
.container {
  margin: 2rem auto 2rem auto;
  max-width: 1000px;
  width: 90%;
}
.fixed-header,
.fixed-footer {
  display: grid;
  width: 100%;
  max-width: 1000px;
  position: fixed;
  background: rgba(243, 243, 243);
  padding: 10px 0;
}
.fixed-header {
  top: 0;
}
.fixed-footer {
  bottom: 0;
}
.main_projects {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-gap: 13px;
}
.inventory {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  padding-bottom: 30px;
}
.headers {
  text-align: center;
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 20px;
}
.article-header {
  text-align: center;
}
.about {
  display: grid;
  grid-template-columns: 670px 320px;
}
.main_projects:hover {
  background-color: rgba(243, 243, 243, 0.555);
}
.main_about:hover {
  background-color: rgba(243, 243, 243, 0.555);
}
.main_contact:hover {
  background-color: rgba(243, 243, 243, 0.555);
}
